.Contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    padding-bottom: 48px;
}
.left-container{
  
    max-width: 60%;
   font-size: 20px;
   text-align: center;
}
.left-container p{
    margin-bottom: 16px;
}

.download-resume{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 8px 16px;
    font-size: 24px;
    border-radius: 4px;
    transition: ease-in-out .2s;

}
.download-resume:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.395);
    transform: scale(1.03);
}
.download-resume a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-resume svg{
    margin-right: 4px;
    font-size: 26px;
}

@media only screen and (max-width: 720px){
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-container{
        max-width: 100%;
        font-size: 16px;
    }
    .download-resume{
        font-size: 18px;
        margin-top: 16px;
    }
}